[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"
python-decouple = "*"
psycopg2 = "*"
pandas = "*"
beautifulsoup4 = "*"
pyforbes = "*"
wikipedia = "*"
uvicorn = "*"
tweepy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
